<%=counter %>

<form method="post">
    <input type="hidden" value="<%=counter %>" name="ctr"> 
    <button id="i" type="submit" value="i">increase</button>
    <button id="d" type="submit" value="d">decrease</button>
</form>