<html>
    <body>
        <table>
            <tr>
                <td>SNo.</td>
                <td>Name</td>
                <td>Mark</td>
            </tr>
            <form>
            if(!edit){
                <% for(var i = 1;i <= record.length; i++){ %>
                    <tr> 
                        <td><%=i %></td>
                    </tr>
                <% } %>
            }
            else{}
            </form>
        </table>
    </body>
</html>