<html>
    <title>Form | Google</title>
    <body style="background:cyan;">
    <div style="background:white; height: 700px;width: 300px;border:1px solid lightcyan; margin-left:600px;">
        <div style="height:14%;width:286px;background:rgb(202, 15, 196); padding-top:20px;font-size: xx-large;color:white;padding-left:14px;"> 
            General Survey <br> for 1st year Students
        </div>
        <div style="height:86%;width:100%;">
        <form method="POST" style="padding-left:35px;" action="/">
            <h2>Name :</h2> 
            <input type="text" placeholder="Name" style="padding-left:5px; height:28px; width:80%;" name="Name">
            <h2>Roll No. :</h2> 
            <input type="text" placeholder="Roll No." name="Roll_No" style="padding-left:5px; height:28px; width:80%;">
            <h2>Age :</h2> 
            <input type="text" name="Age" placeholder="Age" style="padding-left:5px; height:28px; width:80%;">
            <h2>Gender :</h2>  
            <input type="radio" name="Gender"> Male <br>
            <input type="radio" name="Gender"> Female <br>
            <input type="radio" name="Gender"> Others <br>
            <h2>Branch:</h2> 
            <input name="Branch" type="text" placeholder="Branch" style="padding-left:5px; height:28px; width:80%;"> <br><br>
            <button type="submit" style="background:rgb(202, 15, 196);color:white;height:30px;width:70px;border:1px solid rgb(210, 73, 214);border-radius:3px;">Submit</button>
        </form>
        </div>
    </div>
    </body>
</html>