<html>
    <body>
        <h1> Tasks </h1>
        <form method="post" action="/">
            <input name="task" placeholder="tasks">
            <input name="submit" type="submit">
        </form>
    </body>
    <%=task %>
</html>